# Duet 6HC
[mcu]
canbus_uuid: 17d0ceada686

# Duet 3HC
[mcu 3hc]
canbus_uuid: e36ccdc68078

# Duet toolboard 1LC
[mcu toolboard]
canbus_uuid: 23a45b97615e

# Beacon surface scanner
[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_B6992EB85154354D38202020FF0A2944-if00