#####
# _PRINTER_CONFIG
#####
[gcode_macro _PRINTER_CONFIG]
variable_x_bed_size: 500
variable_y_bed_size: 500
variable_x_park_position: -34
variable_y_park_position: 500
variable_x_wiper_center: -30
variable_y_wiper_center: 30
variable_x_wiper_size: 8
variable_y_wiper_size: 37
variable_wiper_use_xy: True
variable_wiper_move_z: False
variable_ptfe_length: 2200
description: Stores printer specific info for other macros
gcode:
  #Empty

#####
# _HANDLE_CHAMBER
#####
[gcode_macro _MANAGE_CHAMBER]
description: Manage chamber related control
gcode:
  # Macro parameters
  {% set chamber_temp = params.CHAMBER_TEMP|default(0)|int %}
  
  SET_TEMPERATURE_FAN_TARGET temperature_fan="Chamber" target={chamber_temp}

#####
# _SAVE_DISABLE_FILAMENT_SENSOR
#####
[gcode_macro _SAVE_DISABLE_FILAMENT_SENSOR]
variable_motion_sensor_state: 1
variable_presence_sensor_state: 1
description: Save current filament sensor state and disables the filament sensors for sensitive processes. Can be set to throw and error if no filament is present using CHECK_FILAMENT=1
gcode:
  # Macro parameters
  {% set check_filament = params.CHECK_FILAMENT|default(0)|int %}
  
  # If SFS
  # Check for filament presence
  {% if check_filament %}
    {% if printer["filament_switch_sensor Sensor_E1"].enabled %}
      {% if not printer["filament_switch_sensor Sensor_E1"].filament_detected %}
        {action_raise_error("Filament not detected! Please load filament and repeat print.")}
      {% endif %}
    {% endif %}
  {% endif %}
  
  # Store current filament sensors state
  SET_GCODE_VARIABLE MACRO=_SAVE_DISABLE_FILAMENT_SENSOR VARIABLE=presence_sensor_state VALUE={ printer["filament_switch_sensor Sensor_E1"].enabled|int }
  SET_GCODE_VARIABLE MACRO=_SAVE_DISABLE_FILAMENT_SENSOR VARIABLE=motion_sensor_state VALUE={ printer["filament_motion_sensor Sensor_E1_motion"].enabled|int }
  
  # Disable filament sensor to avoid false triggers during startup procedure
  SET_FILAMENT_SENSOR SENSOR=Sensor_E1_motion ENABLE=0
  SET_FILAMENT_SENSOR SENSOR=Sensor_E1 ENABLE=0


#####
# _RESTORE_FILAMENT_SENSOR
#####
[gcode_macro _RESTORE_FILAMENT_SENSOR]
description: Restores filament sensor state before being disabled
gcode:
  SET_FILAMENT_SENSOR SENSOR=Sensor_E1_motion ENABLE={printer['gcode_macro _SAVE_DISABLE_FILAMENT_SENSOR'].motion_sensor_state}
  SET_FILAMENT_SENSOR SENSOR=Sensor_E1 ENABLE={printer['gcode_macro _SAVE_DISABLE_FILAMENT_SENSOR'].presence_sensor_state}
