[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[pause_resume]

[display_status]

[respond]

[board_pins btt-octopus-11]
aliases:
  # "MOTOR 0"
  M0_step_pin=PF13,
  M0_dir_pin=PF12,
  M0_enable_pin=PF14,
  M0_spi_cs_pin=PC4,
  M0_diag_pin=PG6,
  M0_endstop_pin=PG6,
  # "MOTOR 1"
  M1_step_pin=PG0,
  M1_dir_pin=PG1,
  M1_enable_pin=PF15,
  M1_spi_cs_pin=PD11,
  M1_diag_pin=PG9,
  M1_endstop_pin=PG9,
  # "MOTOR 2"
  M2_step_pin=PF11,
  M2_dir_pin=PG3,
  M2_enable_pin=PG5,
  M2_spi_cs_pin=PC6,
  M2_diag_pin=PG10,
  M2_endstop_pin=PG10,
  # "MOTOR 3"
  M3_step_pin=PG4,
  M3_dir_pin=PC1,
  M3_enable_pin=PA0,
  M3_spi_cs_pin=PC7,
  M3_diag_pin=PG11,
  M3_endstop_pin=PG11,
  # "MOTOR 4"
  M4_step_pin=PF9,
  M4_dir_pin=PF10,
  M4_enable_pin=PG2,
  M4_spi_cs_pin=PF2,
  M4_diag_pin=PG12,
  M4_endstop_pin=PG12,
  # "MOTOR 5"
  M5_step_pin=PC13,
  M5_dir_pin=PF0,
  M5_enable_pin=PF1,
  M5_spi_cs_pin=PE4,
  M5_diag_pin=PG13,
  # "MOTOR 6"
  M6_step_pin=PE2,
  M6_dir_pin=PE3,
  M6_enable_pin=PD4,
  M6_spi_cs_pin=PE1,
  M6_diag_pin=PG14,
  # "MOTOR 7"
  M7_step_pin=PE6,
  M7_dir_pin=PA14,
  M7_enable_pin=PE0,
  M7_spi_cs_pin=PD3,
  M7_diag_pin=PG15,
  
  #----------------------------------------------- GENERAL PINS -----------------------------------------------
  E0_heater_pin=PA2,
  e_sensor_pin=PF4,
  stepper_spi_mosi_pin=PA7,
  stepper_spi_miso_pin=PA6,
  stepper_spi_sclk_pin=PA5,
  adxl345_cs_pin=PA15,
  bltouch_sensor_pin=PB7,
  bltouch_control_pin=PB6,
  probe_pin=PB7,
  fan_part_cooling_pin=PA8,
  fan_toolhead_cooling_pin=PE5,
  fan_controller_board_pin=PD12,
  heater_bed_heating_pin=PA1,
  heater_bed_sensor_pin=PF3

[temperature_sensor Octopus_V1.1_F446]
sensor_type: temperature_mcu

[controller_fan controller_fan]
pin: fan_controller_board_pin

[board_pins toolboard_t0]
mcu: toolboard_t0
aliases:
  #------------------------------------------- EXTRUDER motor pins --------------------------------------------
  e_step_pin=PB3,
  e_dir_pin=PB4,
  e_enable_pin=PC14,
  e_spi_cs_pin=PC13,
  #----------------------------------------------- GENERAL PINS -----------------------------------------------
  e_heater_pin=PB9,
  e_sensor_pin=PA1,
  e_heater_power=PA0,
  adxl345_cs_pin=PA4,
  bltouch_sensor_pin=PB7,
  bltouch_control_pin=PB9,
  probe_pin=PA15,
  fan_part_cooling_pin=PB0,
  fan_part_cooling_enable=PB14,
  fan_part_cooling_tachometer=PA14,
  fan_toolhead_cooling_pin=PB15,
  fan_toolhead_cooling_tachometer=PB12,
  x_endstop=PA2

[temperature_sensor Orbitool_O2s_T0]
sensor_type: temperature_mcu
sensor_mcu: toolboard_t0

[adxl345 toolboard_t0]
axes_map: x, z, y # Assumes back-facing vertical toolboard mounting
cs_pin: toolboard_t0:PA4
spi_bus: spi1

[extruder]
max_power: 0.995

[fan]
pin: toolboard_t0:fan_part_cooling_pin
enable_pin: toolboard_t0:fan_part_cooling_enable
tachometer_pin: toolboard_t0:fan_part_cooling_tachometer
max_power: 1
shutdown_speed: 0.0
cycle_time: 0.0001
tachometer_ppr: 2
tachometer_poll_interval: 0.00005

[heater_fan toolhead_cooling_fan]
pin: !toolboard_t0:fan_toolhead_cooling_pin
max_power: 1
cycle_time: 0.0001
shutdown_speed: 1.0
#tachometer_pin: toolboard_t0:PB12
#tachometer_ppr: 2
#tachometer_poll_interval: 0.00005

[output_pin _O2_RUN_LED]
pin: toolboard_t0:PB13
shutdown_value: 0
value: 1

[adc_temperature hotend_power_scale]
temperature1: 0
voltage1: 0
temperature2: 119
voltage2: 1.91
temperature3: 239
voltage3: 3.82

[temperature_sensor hotend_power_draw]
sensor_pin: toolboard_t0:e_heater_power
sensor_type: hotend_power_scale

#---------------------------------------------------- X -----------------------------------------------------
# The A axis motor for the toolhead, located at the rear left of the printer
#------------------------------------------------------------------------------------------------------------
[tmc2240 stepper_x]
spi_bus: spi1
stealthchop_threshold: 0
interpolate: False
cs_pin: M0_spi_cs_pin
run_current: 1.6
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 0
driver_HSTRT: 6
rref: 12000

[stepper_x]
step_pin:    M3_step_pin
dir_pin:    !M3_dir_pin
enable_pin: !M3_enable_pin
endstop_pin:  toolboard_t0:x_endstop
homing_retract_dist: 2
homing_speed: 200
second_homing_speed: 25
microsteps: 64
full_steps_per_rotation: 200
rotation_distance: 40
position_min: -34
position_endstop: -34
position_max: 535

#---------------------------------------------------- X1 ----------------------------------------------------
# The B axis motor for the toolhead, located at the rear right of the printer
#------------------------------------------------------------------------------------------------------------
[tmc2240 stepper_x1]
spi_bus: spi1
stealthchop_threshold: 0
interpolate: False
cs_pin: M3_spi_cs_pin
run_current: 1.6
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 0
driver_HSTRT: 6
rref: 12000

[stepper_x1]
step_pin:     M0_step_pin
dir_pin:     !M0_dir_pin
enable_pin:  !M0_enable_pin
microsteps: 64
full_steps_per_rotation: 200
rotation_distance: 40

#---------------------------------------------------- Y -----------------------------------------------------
# The left Y motor used for cartesian Y control in Hybrid CoreXY, located at the rear left of the printer
#------------------------------------------------------------------------------------------------------------
[tmc2240 stepper_y]
spi_bus: spi1
stealthchop_threshold: 0
interpolate: False
cs_pin: M1_spi_cs_pin
run_current: 1.6
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 0
driver_HSTRT: 6
rref: 12000

[stepper_y]
step_pin:     M1_step_pin
dir_pin:      M1_dir_pin
enable_pin:  !M1_enable_pin
endstop_pin:  M1_endstop_pin
homing_retract_dist: 2
homing_speed: 200
second_homing_speed: 25
microsteps: 64
full_steps_per_rotation: 200
rotation_distance: 40
homing_speed: 200
position_min: 0
position_max: 510
position_endstop: 510

#---------------------------------------------------- Y1 ----------------------------------------------------
# The right Y motor used for cartesian Y control in Hybrid CoreXY, located at the rear right of the printer
#------------------------------------------------------------------------------------------------------------
[tmc2240 stepper_y1]
spi_bus: spi1
stealthchop_threshold: 0
interpolate: False
cs_pin: M4_spi_cs_pin
run_current: 1.6
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 0
driver_HSTRT: 6
rref: 12000

[stepper_y1]
step_pin:    M4_step_pin
dir_pin:    !M4_dir_pin
enable_pin: !M4_enable_pin
microsteps: 64
full_steps_per_rotation: 200
rotation_distance: 40

#---------------------------------------------------- Z -----------------------------------------------------
# The left Z motor for the kinematic bed
#------------------------------------------------------------------------------------------------------------
[tmc2240 stepper_z]
spi_bus: spi1
stealthchop_threshold: 0
interpolate: False
cs_pin: M5_spi_cs_pin
run_current: 1.6
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 0
driver_HSTRT: 6
rref: 12000

[stepper_z]
step_pin:    M5_step_pin
dir_pin:    M5_dir_pin
enable_pin: !M5_enable_pin
microsteps: 64
full_steps_per_rotation: 200
rotation_distance: 4
position_min: -5
homing_speed: 10
endstop_pin: probe:z_virtual_endstop
position_max: 522

#---------------------------------------------------- Z1 ----------------------------------------------------
# The rear Z motor for the kinematic bed
#------------------------------------------------------------------------------------------------------------
[tmc2240 stepper_z1]
spi_bus: spi1
stealthchop_threshold: 0
interpolate: False
cs_pin: M6_spi_cs_pin
run_current: 1.6
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 0
driver_HSTRT: 6
rref: 12000

[stepper_z1]
step_pin:    M6_step_pin
dir_pin:    M6_dir_pin
enable_pin: !M6_enable_pin
microsteps: 64
full_steps_per_rotation: 200
rotation_distance: 4

#---------------------------------------------------- Z2 ----------------------------------------------------
# The right Z motor for the kinematic bed
#------------------------------------------------------------------------------------------------------------
[tmc2240 stepper_z2]
spi_bus: spi1
stealthchop_threshold: 0
interpolate: False
cs_pin: M7_spi_cs_pin
run_current: 1.6
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 0
driver_HSTRT: 6
rref: 12000

[stepper_z2]
step_pin:    M7_step_pin
dir_pin:    M7_dir_pin
enable_pin: !M7_enable_pin
microsteps: 64
full_steps_per_rotation: 200
rotation_distance: 4

#------------------------------------------------- EXTRUDER -------------------------------------------------
# The extruder motor used for pushing filament through the toolhead
#------------------------------------------------------------------------------------------------------------
[tmc2240 extruder]
stealthchop_threshold:0
interpolate: False
uart_pin: toolboard_t0:PC13
run_current: 0.45

[extruder]
step_pin:    toolboard_t0:e_step_pin
dir_pin:    toolboard_t0:e_dir_pin
enable_pin: !toolboard_t0:e_enable_pin
microsteps: 64
full_steps_per_rotation: 200
rotation_distance: 8
max_extrude_only_distance: 200
nozzle_diameter: 0.4
filament_diameter: 1.750
max_extrude_only_velocity: 60
heater_pin: toolboard_t0:e_heater_pin
sensor_type: PT1000
pullup_resistor: 2200
sensor_pin: toolboard_t0:e_sensor_pin
min_extrude_temp: 170
min_temp: 0
max_temp: 285
pressure_advance: 0.03
#control: pid
#pid_kp: 17.439 #Defaults for reference
#pid_ki: 0.722  #Defaults for reference
#pid_kd: 105.288 #Defaults for reference
max_extrude_only_distance: 2500.0
pwm_cycle_time: 0.001

[firmware_retraction]
retract_speed: 40
unretract_extra_length: 0
unretract_speed: 40
retract_length: 0.4


#------------------------------------------------- AUX EXTRUDER -------------------------------------------------
# The extruder motor used for pushing filament through the PTFE tube up to the toolhead
#------------------------------------------------------------------------------------------------------------
[extruder_stepper e1_aux]
step_pin:    M2_step_pin
dir_pin:    !M2_dir_pin
enable_pin: !M2_enable_pin
microsteps: 64
rotation_distance: 4.84
extruder: extruder

[tmc2240 extruder_stepper e1_aux]
spi_bus: spi1
stealthchop_threshold: 9999999
interpolate: False
cs_pin: M2_spi_cs_pin
run_current: 0.800 #must be set to max usable current to set the required registers
rref: 12000


# ---------------
# Printer configs
# ---------------
# ADXL345 resonance testing configuration
[resonance_tester]
accel_chip_x: adxl345 toolboard_t0
accel_chip_y: adxl345 toolboard_t0
probe_points:
	250,250,20

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: ratos_hybrid_corexy
max_velocity: 800
max_accel: 20000
minimum_cruise_ratio: 0.5
max_z_velocity: 20
max_z_accel: 2000
square_corner_velocity: 5

[heater_bed]
heater_pin: E0_heater_pin
sensor_pin: heater_bed_sensor_pin
sensor_type: Generic 3950
min_temp: 0
max_temp: 140
pwm_cycle_time: 0.02506 # 39.9Hz reduces AC flickering on 50hz
#control: pid
#pid_kp: 68.682 #Defaults for reference
#pid_ki: 1.999 #Defaults for reference
#pid_kd: 589.803 #Defaults for reference

[bed_mesh]
horizontal_move_z: 2
mesh_min: 30,30
mesh_max:470,450
probe_count: 40,40
fade_start: 1.0
fade_end: 10.0
mesh_pps: 2,2
algorithm: bicubic
bicubic_tension: .2
speed: 600

[adxl345 toolboard_t0]
axes_map: x, z, y # Assumes back-facing vertical toolboard mounting
cs_pin: toolboard_t0:PA4
spi_bus: spi1

[resonance_tester]
accel_chip_x: adxl345 toolboard_t0
accel_chip_y: adxl345 toolboard_t0
probe_points:
	250,250,10
sweeping_period: 1.2

[z_tilt_de]
speed: 400
retries: 10
retry_tolerance: 0.01
z_positions:
	0,-10
	250,500
	500,-10

points:
	30,30
	250,450
	470,30

[motors_sync]
accel_chip: adxl345 toolboard_t0
microsteps: 16
retry_tolerance: 2000
retries: 5
max_step_size: 8

[gcode_button E_Stop]
pin: ^PG6
press_gcode:
  { action_emergency_stop("Emergency! E-stop button pressed!") }

[multi_pin LED_OUTPUT]
pins:PA8,PE5

[output_pin Enclosure_Light]
pin: multi_pin:LED_OUTPUT
pwm: True
cycle_time: 0.0001
value: 0.5

[temperature_fan Chamber]
pin: PD13
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
cycle_time:0.01
off_below:0.1
sensor_type: PT1000
sensor_pin: PF4
min_temp: 0
max_temp: 65
target_temp: 35.0
control: watermark
gcode_id: C

[fan_generic Chamber_Recirculator]
pin: PG12
max_power: 1.0
shutdown_speed: 0.0
cycle_time: 0.01
off_below:0.1
enable_pin: PD14

[filament_switch_sensor Sensor_E1]
switch_pin: ^PG10
pause_on_runout: False
runout_gcode:
    RESPOND TYPE=command MSG="Filament runout, pausing."
    PAUSE

[filament_motion_sensor Sensor_E1_motion]
switch_pin: ^PG11
detection_length: 8 #2.88 sensor precision
extruder: extruder
pause_on_runout: False
runout_gcode:
    RESPOND TYPE=command MSG="Motion sensor runout, pausing."
    PAUSE

[beacon]
x_offset: 0 
y_offset: 20
mesh_main_direction: x
mesh_runs: 1
speed: 15.
lift_speed: 80.
contact_max_hotend_temperature: 155

[input_shaper]

[safe_z_home]
home_xy_position: 250,240
speed: 600.0
z_hop: 5
z_hop_speed: 20.0

[exclude_object]

[force_move]
enable_force_move: True

[include de-beta-macros.cfg]
[include de-macros.cfg]

[beacon_adaptive_heat_soak]
[beacon_true_zero_correction]