[include nozzle_wipe.cfg]

#####
# VIBRATE BED
# Helps the three kinematic points of the bed to settle down
#####
[gcode_macro _VIBRATE_BED]
gcode:
  {% set feedrate = params.VELOCITY|default(30)|int %}
  {% set feedrate_restore = printer['toolhead'].z_maximum_speed|int %}
  {% set acceleration = params.ACCEL|default(2000)|int %}
  {% set acceleration_restore = printer['toolhead'].z_maximum_acceleration|int %}
  {% set cycles = params.CYCLES|default(14)|int %}
  {% set verbose = params.VERBOSE|default(0)|int %}
  
  {% if verbose == 1%}
    RESPOND TYPE=command MSG="Vibrating bed {cycles}x at a speed of {feedrate}mm/s with a acceleration of {acceleration}mm/s2."
  {% endif %}

  SET_KINEMATIC_LIMIT ACCEL={acceleration} VELOCITY={feedrate}
  
  G91
  {% for loops in range(1, cycles) %} 
    G1 Z1 F{feedrate*60}
    G1 Z-1 F{feedrate*60}
  {% endfor %}
  G90

  SET_KINEMATIC_LIMIT ACCEL={acceleration_restore} VELOCITY={feedrate_restore}


#####
# CALIBRATE MACHINE
# Performs all required calibration for proper printer function then forces a save
#####
[gcode_macro CALIBRATE_MACHINE]
description: Performs all required calibration for proper printer function then forces a save. For best result ensure nozzle tip is completely clean before starting and no filament is loaded.
gcode:
  RESPOND TYPE=command MSG="action:prompt_begin Question"
  RESPOND TYPE=command MSG="action:prompt_text Please ensure nozzle tip completely clean and filament unloaded before continuing!"
  RESPOND TYPE=command MSG="action:prompt_footer_button continue|_CALIBRATE_MACHINE_CONTINUE"
  RESPOND TYPE=command MSG="action:prompt_footer_button CANCEL|_CALIBRATE_MACHINE_CANCEL"
  RESPOND TYPE=command MSG="action:prompt_show"

#####
# _CALIBRATE MACHINE CONTINUE
# Executes the calibration, should only be called by CALIBRATE_MACHINE macro.
#####
[gcode_macro _CALIBRATE_MACHINE_CONTINUE]
gcode:
  {% set x_center = printer["gcode_macro _PRINTER_CONFIG"].x_bed_size / 2 %}
  {% set y_center = printer["gcode_macro _PRINTER_CONFIG"].y_bed_size / 2 %}

  # Close prompt from previous macro
  RESPOND TYPE=command MSG=action:prompt_end

  SET_VELOCITY_LIMIT VELOCITY=300

  RESPOND TYPE=command MSG="Machine calibration: Finding bed position."
  SET_KINEMATIC_POSITION X={x_center} Y={y_center} Z=0
  G28 X Y
  G1 X{x_center} Y{y_center} F12000
  BEACON_AUTO_CALIBRATE SKIP_MODEL_CREATION=1 SKIP_MULTIPOINT_PROBING=1

  RESPOND TYPE=command MSG="Machine calibration: Adjusting bed tilt."
  Z_TILT_ADJUST HORIZONTAL_MOVE_Z=50 PROBE_METHOD=proximity RETRIES=10 RETRY_TOLERANCE=0.4

  RESPOND TYPE=command MSG="Machine calibration: Calibration beacon model."
  G1 X{x_center} Y{y_center} F12000
  BEACON_AUTO_CALIBRATE SKIP_MULTIPOINT_PROBING=1

  RESPOND TYPE=command MSG="Machine calibration: Calibration ressonance compensation."
  G1 X{x_center} Y{y_center} F12000
  SHAPER_CALIBRATE AXIS=X
  G1 X{x_center} Y{y_center} F12000
  SHAPER_CALIBRATE AXIS=Y

  RESPOND TYPE=command MSG="Machine calibration: Calibrating hybrid motor sync."
  SYNC_MOTORS_CALIBRATE AXIS=Y

  G1 X{x_center} Y{y_center} F12000

  RESPOND TYPE=command MSG="Machine calibration: Calibrating hotend PID."
  M106 S100
  PID_CALIBRATE HEATER=extruder TARGET=250
  M106 S0

  RESPOND TYPE=command MSG="Machine calibration: Calibrating bed heater PID."
  PID_CALIBRATE HEATER=heater_bed TARGET=80

  RESPOND TYPE=command MSG="Machine calibration complete, saving and restarting klipper."
  G4 P2000
  SAVE_CONFIG

#####
# _CALIBRATE MACHINE Cancel
# Closes prompt close and message, should only be called by CALIBRATE_MACHINE macro.
#####
[gcode_macro _CALIBRATE_MACHINE_CANCEL]
gcode:
  RESPOND TYPE=command MSG=action:prompt_end

  RESPOND TYPE=command MSG="Machine calibration canceled."

#####
# START PRINT
#####
[gcode_macro START_PRINT]
description: Start print procedure that should be used on slicer.
gcode:
  # mandatory parameter sanity check
  {% if params.EXTRUDER_TEMP is not defined %}
    { action_raise_error("Missing START_PRINT parameter 'EXTRUDER_TEMP' check if the correct printer profile is selected on the slicer.")}
  {% endif %}
  {% if params.BED_TEMP is not defined %}
    { action_raise_error("Missing START_PRINT parameter 'BED_TEMP' check if the correct printer profile is selected on the slicer.")}
  {% endif %}

  # Macro parameters
  {% set Xmin = params.X0|default(-1)|float %}
  {% set Xmax = params.X1|default(-1)|float %}
  {% set Ymin = params.Y0|default(-1)|float %}
  {% set Ymax = params.Y1|default(-1)|float %}
  {% set initial_tool = params.INITIAL_TOOL|default(0)|int %}
  {% set chamber_temp = params.CHAMBER_TEMP|default(0)|int %}
  {% set bed_temp = params.BED_TEMP|default(printer.heater_bed.target, true)|float %}
  {% set skip_heatsoak = params.SKIP_HEATSOAK|default(0)|int %}
  {% set total_layer_count = params.TOTAL_LAYER_COUNT|default(0)|int %}
  {% set extruder_first_layer_temp = (params.EXTRUDER_TEMP|default("")).split(",") %}
  {% set x_center = printer["gcode_macro _PRINTER_CONFIG"].x_bed_size / 2 %}
  {% set y_center = printer["gcode_macro _PRINTER_CONFIG"].y_bed_size / 2 %}
  {% set nozzle_size = params.NOZZLE_SIZE|default(0.4)|float %}
  {% set filament_type = params.FILAMENT|default('PLA')|string|lower %}

  # Sanity check on print size, exit if gcode size > bed
  {% if Xmin < 0 or Xmax > printer["gcode_macro _PRINTER_CONFIG"].x_bed_size or Ymin <0 or Ymax > printer["gcode_macro _PRINTER_CONFIG"].y_bed_size %}
    { action_raise_error("Requested Gcode exceeds print bed limits, check if the correct printer profile is selected on the slicer.")}
  {% endif %}
    
  # Select standby temp deppending on material
  {% set standby_temp = 150 %}
  {% if "pla" in filament_type %}
    {% set standby_temp = 120 %}
  {% elif "petg" in filament_type %}
    {% set standby_temp = 120 %}
  {% elif "tpu" in filament_type %}
    {% set standby_temp = 120 %}
  {% endif %}

  # Handle filament sensors
  _SAVE_DISABLE_FILAMENT_SENSOR CHECK_FILAMENT=1

  # Update print statistics
  {% if total_layer_count > 0 %}
    SET_PRINT_STATS_INFO TOTAL_LAYER={total_layer_count}
  {% endif %}
    SET_PRINT_STATS_INFO CURRENT_LAYER=1
    
  # Safety paremeter reset
  CLEAR_PAUSE
  G21 # Metric values
  G90 # Absolute positioning
  M82 # Set extruder to absolute mode

  # Start heating extruder and bed
  M140 S{bed_temp}
  M104 S{standby_temp}

  # Manage Heated Chamber
  _MANAGE_CHAMBER CHAMBER_TEMP={chamber_temp}

  # If hotend is too hot wait in parking position for it to cool down to avoid bed contamination during heatsoak
  {% if printer['extruder'].temperature > standby_temp + 5 %}
    G28 X Y
    _WIPE_NOZZLE_PARK
    RESPOND TYPE=command MSG="Waiting for extruder cooldown to avoid bed contamination."
    TEMPERATURE_WAIT SENSOR="extruder" MINIMUM={standby_temp-5}  MAXIMUM={standby_temp+5}
    G28 Z
  {% else %}
    # Home
    G28
  {% endif %}

  # Set aux extruder power 
  SET_TMC_CURRENT STEPPER='e1_aux' CURRENT=0.3

  # Sync Hybrid motors
  {% if printer.motors_sync.applied is defined %}
    G1 Z50
    RESPOND TYPE=command MSG="Synchronizing Y axis motors."
    G4 P500
    SYNC_MOTORS
  {% endif %}

  # Z tilt adjust
  RESPOND TYPE=command MSG="Rough adjusting Z tilt."

  # Vibrate bed to ensure 3 point contact
  _VIBRATE_BED CYCLES=10

  # Do fast proximity Z-tilt calibration
  Z_TILT_ADJUST PROBE_METHOD=proximity RETRIES=2 RETRY_TOLERANCE=0.4 P1_X=30 P1_Y=10 P2_X=250 P2_Y=450 P3_X=470 P3_Y=10 HORIZONTAL_MOVE_Z=15

  # Move back to center 
  G1 X{x_center} Y{y_center} Z1 F20000
  
  # Wait for bed to heat up
  RESPOND TYPE=command MSG="Heating bed to {bed_temp}ºC."
  M190 S{bed_temp}

  # Heat soak 
  # Calculate max heat soak time according to first layer size, parts below 95mm (50mm + skirt) need no soak, and parts above 295mm(250mm + skirt) need full soaking for positive results
  # Maximum wait multiplier = 1800s (30min) / 295mm = 6.1s/mm
  {% set Xsize = Xmax-Xmin %}
  {% set Ysize = Ymax-Ymin %}
  {% if Xsize > Ysize %}
    {% set BiggestAxis = Xsize %}
  {% else %}
    {% set BiggestAxis = Ysize %}
  {% endif %}

  {% set HeatsoakThreshold = (235-0.37*BiggestAxis)|round|int %}
  #{% set HeatsoakQuality = ((BiggestAxis/100)|round+1)|int %}
  #{% if HeatsoakQuality > 4 %}
  #  {% set HeatsoakQuality = 4 %}
  #{% endif %}

  {% if BiggestAxis > 95 %}
    {% if skip_heatsoak == 0 %}
      G1 X{x_center} Y{y_center} Z1 F20000
      BEACON_WAIT_FOR_PRINTER_HEAT_SOAK _FORCE_THRESHOLD={HeatsoakThreshold} MAXIMUM_WAIT={(6.1* BiggestAxis)|int}
    {% else %}
      RESPOND TYPE=command MSG="Heatsoak skipped due to command."
    {% endif %}
  {% else %}
    RESPOND TYPE=command MSG="Printed part size does not require heatsoak."
  {% endif %}

  # Nozzle cleaning
  RESPOND TYPE=command MSG="Cleaning nozzle for calibration."
  #WIPE_NOZZLE TEMP={extruder_first_layer_temp[0]|float} SKIP_HEAT=0 NOZZLE_SIZE={nozzle_size|float} END_TEMP={standby_temp}
  TAP_CLEAN TEMP={standby_temp}

  # Ensure nozzle temp is at standby temp for the material
  #TEMPERATURE_WAIT SENSOR="extruder" MINIMUM={standby_temp-5}  MAXIMUM={standby_temp+5}
  
  # Z tilt adjust
  RESPOND TYPE=command MSG="Fine adjusting Z tilt."
  
  # Vibrate bed to ensure 3 point contact
  _VIBRATE_BED CYCLES=10

  # Do slow contact Z-tilt adjust
  Z_TILT_ADJUST PROBE_METHOD=contact SAMPLES_TOLERANCE_RETRIES=15 P1_X=30 P1_Y=30 P2_X=250 P2_Y=470 P3_X=470 P3_Y=30 SAMPLES_TOLERANCE=0.03
    
  # Move to bed center
  G1 X{x_center} Y{y_center} F20000

  # Zero z via contact
  RESPOND TYPE=command MSG="Calibrating beacon and Z zero position."
  BEACON_AUTO_CALIBRATE SKIP_MODEL_CREATION=1

  # Calculate new sample ammount given the mesh size (one sample each 75mm)
  {% set mesh_count_x = ((Xmax-Xmin)/75)|round(0,'ceil')|int %}
  {% set mesh_count_y = ((Ymax-Ymin)/75)|round(0,'ceil')|int %}

  # Avoids execessive contact meshes
  {% if mesh_count_x >7 %}
    {% set mesh_count_x = 7 %}
  {% endif %}
  
  {% if mesh_count_y > 7 %}
    {% set mesh_count_y = 7 %}
  {% endif %}

  # Avoids too small mesh error
  {% if mesh_count_x <3 %}
    {% set mesh_count_x = 3 %}
  {% endif %}
  
  {% if mesh_count_y <3 %}
    {% set mesh_count_y = 3 %}
  {% endif %}

  # Optimize mesh algorithm
  {% if (mesh_count_x >3 or mesh_count_y>3)%}
    {% set algorithm = 'bicubic' %}
  {% else %}
    {% set algorithm = 'lagrange' %}
  {% endif %}

  # Limit the contact mesh max so beacon stays inside flex plate
  # 30mm from nozzle center to beacon limit on Y
    # 15mm from nozzle center to beacon limit on X
  {% if (Ymax > (printer["gcode_macro _PRINTER_CONFIG"].y_bed_size|float-30) )%}
    {% set Ymax = (printer["gcode_macro _PRINTER_CONFIG"].y_bed_size|float-30) %}
  {% endif %}
    {% if (Xmax > (printer["gcode_macro _PRINTER_CONFIG"].x_bed_size|float-15) )%}
    {% set Xmax = (printer["gcode_macro _PRINTER_CONFIG"].x_bed_size|float-15) %}
  {% endif %}
    {% if (Xmin < 15)%}
    {% set Xmin = 15 %}
  {% endif %}

  RESPOND TYPE=command MSG="Calibrating bed mesh."
  BED_MESH_CALIBRATE PROBE_METHOD=contact USE_CONTACT_AREA=1 SAMPLES={3} ALGORITHM={algorithm} MESH_MIN={Xmin},{Ymin} MESH_MAX={Xmax},{Ymax} PROBE_COUNT={mesh_count_x},{mesh_count_y} RELATIVE_REFERENCE_INDEX=-1 SAMPLES_TOLERANCE_RETRIES=15 SAMPLES_TOLERANCE=0.03

  # Park toolhead for wiping
  _WIPE_NOZZLE_PARK

  # Wait for extruder to heat up
  RESPOND TYPE=command MSG="Heating Extruder to {extruder_first_layer_temp[0]|float}ºC."
  SET_HEATER_TEMPERATURE HEATER="extruder" TARGET={extruder_first_layer_temp[0]|float}
  TEMPERATURE_WAIT SENSOR="extruder" MINIMUM={extruder_first_layer_temp[initial_tool]|float}  MAXIMUM={extruder_first_layer_temp[initial_tool]|float + 5}

  # set nozzle thermal expansion offset 
  # considering a expansion of 0.60 micron per each 1ºC of increase 
  RESPOND TYPE=command MSG="{ "Compensating hotend thermal expansion by: " +  (0.00060* (extruder_first_layer_temp[0]|float-standby_temp))|string + "mm" }"
  SET_GCODE_OFFSET Z_ADJUST={ 0.00060* (extruder_first_layer_temp[initial_tool]|float-standby_temp)}

  G92 E0    # reset extrusion distance

  # Nozzle wiping pre-print
  RESPOND TYPE=command MSG="Cleaning nozzle for print."
  WIPE_NOZZLE TEMP={extruder_first_layer_temp[0]|float} SKIP_HEAT=1 WIPES=8 NOZZLE_SIZE={nozzle_size|float} SKIP_EXTRUDE=1

  # Reset filament sensor to previous state
  _RESTORE_FILAMENT_SENSOR

  RESPOND TYPE=command MSG="Starting print!"


#####
# END_PRINT
#####
[gcode_macro END_PRINT]
description: End print procedure, use this in your Slicer.
gcode:
  # Reset chamber to default
  SET_TEMPERATURE_FAN_TARGET temperature_fan="Chamber" target=35

  # Disable all heaters
  TURN_OFF_HEATERS

  # Part cooling fan off
  M107
  
  # Park toolhead on the back center
  G91
  G1 Z2
  G90
  G1 X{printer["gcode_macro _PRINTER_CONFIG"].x_park_position} Y{printer["gcode_macro _PRINTER_CONFIG"].y_park_position} F36000

  # Lower Z to bottom 
  G1 Z500 F600

  # Clear skew profile if any was loaded.
  #SET_SKEW CLEAR=1

  # Clear bed mesh
  BED_MESH_CLEAR

  # Disable Motors
  M84

  # Reset Z offset
  SET_GCODE_OFFSET Z=0 MOVE=0

  RESPOND TYPE=command MSG="Print ended!"


#####
# PAUSE
#####
[gcode_macro PAUSE]
description: Pauses the print if printer is printing.
rename_existing: PAUSE_BASE
gcode:
  # Only pause if printing otherwise ignore command
  {% if printer['idle_timeout'].state == "Printing" %}
    # Only pause if not paused
    {% if not printer['pause_resume'].is_paused %}
      # Store restore extruder temp and fan
      SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=resume_extruder_temp VALUE={ printer[printer.toolhead.extruder].target }
      SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=resume_extruder_fan VALUE={ printer['fan'].speed }
            RESPOND TYPE=command MSG="Current fan speed: {printer['fan'].speed}"

            # Force a save to Pause state to ensure proper resumes
            SAVE_GCODE_STATE NAME=PAUSE_STATE

      # Set timeout to 1 day
      SET_IDLE_TIMEOUT TIMEOUT=86400

      # Pause print
      PAUSE_BASE
    
      # Retract and park toolhead close to wiper
      G91
      G1 E-1 F3600
      G90
      _WIPE_NOZZLE_PARK

      # Message
      RESPOND TYPE=command MSG="Print paused."
    {% else %}
      RESPOND TYPE=command MSG="Printer already paused."
    {% endif %}
  {% else %}
    RESPOND TYPE=command MSG="Printer cannot pause when not printing."
  {% endif %}


#####
# RESUME
#####
[gcode_macro RESUME]
description: Resumes the print if the printer is paused.
rename_existing: RESUME_BASE
variable_resume_extruder_temp: 0
variable_resume_extruder_fan: 0
gcode:
  {% if printer['pause_resume'].is_paused %}
    RESPOND TYPE=command MSG="Wiping and resuming print."

    WIPE_NOZZLE TEMP={resume_extruder_temp} SKIP_HEAT=1 NOZZLE_SIZE=0.4 WIPES=15

    M106 S{resume_extruder_fan*255|int}
        RESPOND TYPE=command MSG="Setting fan speed to: {resume_extruder_fan*255|int}"

    RESUME_BASE VELOCITY=600
  {% else %}
    RESPOND TYPE=command MSG="Printer not paused, can't resume."
  {% endif %}


#####
# CANCEL_PRINT
#####
[gcode_macro CANCEL_PRINT]
description: Cancels the printer
rename_existing: CANCEL_PRINT_BASE
gcode:
  END_PRINT
  CLEAR_PAUSE
  CANCEL_PRINT_BASE


#####
# _ON_LAYER_CHANGE
#####
[gcode_macro _ON_LAYER_CHANGE]
description: Used to update the current print layer
gcode:
  # parameters 
  {% set layer = params.LAYER|int %}  

  SET_PRINT_STATS_INFO CURRENT_LAYER={layer-1}


#####
# LOAD
#####
[gcode_macro LOAD]
description: Load filament, moves to purge area automatically.
gcode:
  {% set extruder_temp = (params.TEMP|default("250")|float) %}
  {% set nozzle_size = (params.NOZZLE_SIZE|default(0.4)|float) %}
  _LOAD_UNLOAD TEMP={extruder_temp} CHANGE_TEMP={((printer['extruder'].target|float) < 180)|int} IS_LOAD=1 NOZZLE_SIZE={nozzle_size}

#####
# UNLOAD
#####
[gcode_macro UNLOAD]
description: Unload filament, moves to purge area automatically.
gcode:  
  {% set extruder_temp = (params.TEMP|default("250")|float) %}
  {% set nozzle_size = (params.NOZZLE_SIZE|default(0.4)|float) %}
  _LOAD_UNLOAD TEMP={extruder_temp} CHANGE_TEMP={((printer['extruder'].target|float) < 180)|int} IS_LOAD=0 NOZZLE_SIZE={nozzle_size}

#####
# _LOAD_UNLOAD
#####
[gcode_macro _LOAD_UNLOAD]
description: Internal macro to handle load an unload procedures
gcode:
  {% set extruder_temp = (params.TEMP|float) %}
  {% set starting_temp = (printer['extruder'].target|float) %}
  {% set change_temp = params.CHANGE_TEMP|int %}
  {% set load = params.IS_LOAD|default(1)|int %}
  {% set nozzle_size = (params.NOZZLE_SIZE|float) %}

  {% if load %}
    {% set prefix = "Load" %}
  {% else %}
    {% set prefix = "Unload" %}
  {% endif %}

  # Handle filament sensors
  _SAVE_DISABLE_FILAMENT_SENSOR

  # Status message
  {% if change_temp %}
    RESPOND TYPE=command MSG={prefix}" started, setting hotend to {extruder_temp}."
    M104 S{extruder_temp}
  {% else %}
    RESPOND TYPE=command MSG={prefix}" started, temperature already set."
  {% endif %}

  # Set aux to power mode
  SET_TMC_CURRENT STEPPER='e1_aux' CURRENT=0.85

  {% if load %}
    # Small aux extruder motion to help with initial load
    RESPOND TYPE=command MSG="Load: Please insert filament on aux extruder untill it is pulled."
    FORCE_MOVE STEPPER='extruder_stepper e1_aux' DISTANCE=100 VELOCITY=2 ACCEL=50
  {% endif %}

  # Manage homing if necessary
  RESPOND TYPE=command MSG={prefix}": Homing and parking."
  {% set homed = printer.toolhead.homed_axes %}
  {% if 'x' not in homed and 'y' in homed %}
    G28 X
  {% elif 'y' not in homed and 'x' in homed %}
      G28 Y
  {% elif 'x' not in homed and 'y' not in homed %}
      G28 XY 
  {% endif %}

  # Park nozzle
  _WIPE_NOZZLE_PARK

  # Load aux while heating up
  {% if load %}
    # Move filament using aux up to main extruder
    RESPOND TYPE=command MSG="Load: Loading filament to main extruder."
    FORCE_MOVE STEPPER='extruder_stepper e1_aux' DISTANCE={printer["gcode_macro _PRINTER_CONFIG"].ptfe_length} VELOCITY=33 ACCEL=10
  {% endif %}

  # Wait for extruder temp
  {% if change_temp %}
    RESPOND TYPE=command MSG={prefix}": Waiting for hotend to reach {extruder_temp}."
    TEMPERATURE_WAIT SENSOR="extruder" MINIMUM={extruder_temp|float-5}  MAXIMUM={extruder_temp|float+5}
  {% endif %}

  {% if load %}
    # Load 250mm filament to clear hotend
    RESPOND TYPE=command MSG="Load: loading main extruder."
    _WIPE_NOZZLE_PURGE_FILAMENT PURGE=250

    # Forces a wait for movements to finish prior to wiping to avoid code colision
    M400

    # Do a nozzle purge and wipe procedure
    RESPOND TYPE=command MSG="Load: Wiping nozzle and parking."
    {% if change_temp %}
      WIPE_NOZZLE TEMP={extruder_temp} SKIP_HEAT=0 SKIP_STRING_BREAKER=1 NOZZLE_SIZE={nozzle_size|float}
    {% else %}
      WIPE_NOZZLE TEMP={starting_temp} SKIP_HEAT=1 SKIP_STRING_BREAKER=1 WIPES=15 NOZZLE_SIZE={nozzle_size|float}
    {% endif %}
    _WIPE_NOZZLE_PARK
  {% else %}
    # Tip forming
    RESPOND TYPE=command MSG="Unload: Priming and removing filament."
    G92 E0
    M82
    G1 E20 F250
    G1 E-1 F2400
    G1 E2 F150
    G1 E-1 F2400
    G1 E2 F150
    G1 E-50 F500

    # Do full unload
    G92 E0
    G1 E-{printer["gcode_macro _PRINTER_CONFIG"].ptfe_length+200} F2000
    G92 E0
  {% endif %}

  # Restore aux power 
  SET_TMC_CURRENT STEPPER='e1_aux' CURRENT=0.3

  RESPOND TYPE=command MSG={prefix}" complete."

  # Set timeout to 10 minutes
  SET_IDLE_TIMEOUT TIMEOUT=600

  # Reset filament sensor to previous state
  _RESTORE_FILAMENT_SENSOR