#
# Nozzle wipe procedure
#
#
[gcode_macro WIPE_NOZZLE]
variable_wipe_retract_ammount: 0.8      #Sets the ammount of retraction after purging the nozzle, will prime 2x this ammount before returning to print(accounts for oozing during wipe)
variable_wipe_retract_prime_speed: 2400 #Sets speed of extruder retract and prime
variable_macro_z_speed: 10              #Sets Z motion speed
variable_macro_travel_speed: 5000       #Sets travel speed
variable_brush_start_x: -60             #X position where the nozzle first touches the brush when moving away from the center of the build surface
variable_brush_size_x: -7               #Dimension in mm of the brushing zone in the X axis from where the nozzle first touches the brush
variable_plug_x: -63                    #X position where the nozzles is completely blocked by the brush (used to stop oozing)
variable_purge_x: -63                   #X position where the nozzle should be primed before moving to the plug position
variable_brush_use_y: True              #Set to true to wipe in XY otherwise wipe only moves in X. Requires a fixed brush on the printer frame.
variable_brush_start_y: 0               #Y position where the nozzle first touches the brush
variable_brush_size_y: 35               #Dimension in mm of the brushing zone in the Y axis from where the nozzle first touches the brush
variable_plug_y: 30                     #Y position where the nozzles is completely blocked by the brush (used to stop oozing)
#variable_purge_y: 45                    #Y position where the nozzle should be primed before moving to the plug position
variable_purge_y: 50                    #Y position where the nozzle should be primed before moving to the plug position
#variable_wipe_z: 0.5                    #Z position where the wiping procedure occurs (leave commented for no Z movement during wipe)
variable_wipe_speed: 12000              #Speed of the movements during the wipe procedure. Movements inside the brush are limited to 1/2 of this value
variable_wipe_ammount: 250              #Stores the max ammount of wipe movements to do prior to parking on the plug position.
variable_wipes_done:0                   #Stores the ammount of wipe movements already performed to check for stop condition
variable_wipe_end_temp: 150             #Default print temperature at wich to stop cooling down

gcode:
  {% set load_temp = params.TEMP|default(220)|int %}
  {% set skip_string_break = params.SKIP_STRING_BREAKER|default(0)|int %}
  {% set in_wipe_ammount = params.WIPES|default(250)|int %}
  {% set starting_accel = printer['toolhead'].max_accel|float %}
  {% set end_temp = params.END_TEMP|default(150)|float %}

  #RESPOND TYPE=command MSG="Wipe ammount: {in_wipe_ammount}"

  # Store new end temp
  SET_GCODE_VARIABLE MACRO=WIPE_NOZZLE VARIABLE=wipe_end_temp VALUE={end_temp}

  # Set acceleration for wipe procedures
  SET_VELOCITY_LIMIT ACCEL=20000

  # Sanity checks for wipe ammount
  {% if in_wipe_ammount > 250 %}
    SET_GCODE_VARIABLE MACRO=WIPE_NOZZLE VARIABLE=wipe_ammount VALUE=250
  {% elif in_wipe_ammount < 0 %}
    SET_GCODE_VARIABLE MACRO=WIPE_NOZZLE VARIABLE=wipe_ammount VALUE=0
  {% else %}
    SET_GCODE_VARIABLE MACRO=WIPE_NOZZLE VARIABLE=wipe_ammount VALUE={in_wipe_ammount}
  {%endif%}

  # Purge speed, with limit to 25mm3/s max
  {% set purge_speed = (params.NOZZLE_SIZE|default(0.4)|float)*1250 %}
  {% if purge_speed > 660 %}
    {% set purge_speed = 660 %}
  {% endif %}

  # Purge ammount, with limit to 80mm max
  {% set purge_ammount = (params.NOZZLE_SIZE|default(0.4)|float)*100 %}
  {% if purge_ammount > 80 %}
    {% set purge_ammount = 80 %}
  {% endif %}

  SET_GCODE_VARIABLE MACRO=WIPE_NOZZLE_OUTER_LOOP VARIABLE=wipe_nozzle_complete VALUE=False
  WIPE_NOZZLE_PARK
  {%if params.SKIP_HEAT|int == 0 %}
    SET_HEATER_TEMPERATURE HEATER="extruder" TARGET={load_temp}
    TEMPERATURE_WAIT SENSOR="extruder" MINIMUM={load_temp-5}  MAXIMUM={load_temp+5}
  {%endif%}

  M106 S100
  G4 P1000
  
  G92 E0
  G1 E{purge_ammount} F{purge_speed}
  G4 P500
  G92 E0
  G1 E-{wipe_retract_ammount} F{wipe_retract_prime_speed}
  G92 E0
  
  {%if params.SKIP_HEAT|int == 0 %}
    SET_HEATER_TEMPERATURE HEATER="extruder" TARGET={end_temp}
  {%endif%}
  
  G4 P5000

  
  {%if printer["gcode_macro WIPE_NOZZLE"].brush_use_y%}
    G1 X{printer["gcode_macro WIPE_NOZZLE"].plug_x} Y{printer["gcode_macro WIPE_NOZZLE"].plug_y} F1000

    {% for loops in range(1, 5) %} 
      G1 X{printer["gcode_macro WIPE_NOZZLE"].purge_x} Y{printer["gcode_macro WIPE_NOZZLE"].purge_y} F{printer["gcode_macro WIPE_NOZZLE"].wipe_speed}
      G1 X{printer["gcode_macro WIPE_NOZZLE"].plug_x} Y{printer["gcode_macro WIPE_NOZZLE"].plug_y} F{printer["gcode_macro WIPE_NOZZLE"].wipe_speed}
    {% endfor %}
    
  {% else %}
    G1 X{printer["gcode_macro WIPE_NOZZLE"].plug_x} F1000

    {% for loops in range(1, 5) %} 
      G1 X{printer["gcode_macro WIPE_NOZZLE"].purge_x} F{printer["gcode_macro WIPE_NOZZLE"].wipe_speed}
      G1 X{printer["gcode_macro WIPE_NOZZLE"].plug_x} F{printer["gcode_macro WIPE_NOZZLE"].wipe_speed}
    {% endfor %}
  {% endif %}

  
  M106 S180 #Best compromise between noise and cooling
  G4 P100
  WIPE_NOZZLE_OUTER_LOOP
  {%if params.SKIP_HEAT|int == 1 %}
    G92 E0
  {%endif%}

  {%if printer["gcode_macro WIPE_NOZZLE"].brush_use_y%}
    G1 X{printer["gcode_macro WIPE_NOZZLE"].plug_x} Y{printer["gcode_macro WIPE_NOZZLE"].plug_y} F{printer["gcode_macro WIPE_NOZZLE"].wipe_speed}
  {% else %}
    G1 X{printer["gcode_macro WIPE_NOZZLE"].plug_x} F{printer["gcode_macro WIPE_NOZZLE"].wipe_speed}
  {% endif %}


  {%if params.SKIP_HEAT|int == 0 %}
    TEMPERATURE_WAIT SENSOR="extruder" MINIMUM={end_temp-5}  MAXIMUM={end_temp+5}
  {%endif%}

  M106 S0

  {%if params.SKIP_HEAT|int == 0 %}
    SET_HEATER_TEMPERATURE HEATER="extruder" TARGET={end_temp}
  {%endif%}

  
  {% if params.SKIP_HEAT|int == 1 %}
    G92 E0
    G1 E{wipe_retract_ammount*2} F{wipe_retract_prime_speed}
    G92 E0
  {% else %}
    {% if skip_string_break == 0 %}
      G1 Z5 F{printer["gcode_macro WIPE_NOZZLE"].wipe_speed}
      WIPE_NOZZLE_STRING_BREAKER   
    {% endif %}
  {% endif %}

  # Reset acceleration for normal procedures
  SET_VELOCITY_LIMIT ACCEL={starting_accel}
  

[gcode_macro WIPE_NOZZLE_PARK]
gcode:
  # internal vars
  {% set park_pos_x = printer["gcode_macro WIPE_NOZZLE"].purge_x %}
  {%if printer["gcode_macro WIPE_NOZZLE"].brush_use_y%}
    {% set park_pos_y = printer["gcode_macro WIPE_NOZZLE"].purge_y %}
  {% else %}
    {% set park_pos_y = printer.toolhead.position.y %}
  {% endif %}

  # only move if not in place
  {% if printer.toolhead.position.x != park_pos_x or printer.toolhead.position.y != park_pos_y %}

    {% if 'z' in printer.toolhead.homed_axes %}
        G91
        G1 Z5 F{printer["gcode_macro WIPE_NOZZLE"].wipe_speed}
        G90
    {% endif %}
    
    G1 X{park_pos_x} Y{park_pos_y} F{printer["gcode_macro WIPE_NOZZLE"].wipe_speed}
  {% endif %}

[gcode_macro WIPE_NOZZLE_PARK_PLUG]
gcode:
   # internal vars
  {% set park_plug_pos_x = printer["gcode_macro WIPE_NOZZLE"].plug_x %}
  {%if printer["gcode_macro WIPE_NOZZLE"].brush_use_y%}
    {% set park_plug_pos_y = printer["gcode_macro WIPE_NOZZLE"].plug_y %}
  {% else %}
    {% set park_plug_pos_y = printer.toolhead.position.y %}
  {% endif %}

  # only move if not in place
  {% if printer.toolhead.position.x != park_pos_x or printer.toolhead.position.y != park_pos_y %}
    {% if 'z' in printer.toolhead.homed_axes %}
        G91
        G1 Z5 F{printer["gcode_macro WIPE_NOZZLE"].wipe_speed}
        G90
    {% endif %}

    G1 X{park_plug_pos_x} Y{park_plug_pos_y} F{printer["gcode_macro WIPE_NOZZLE"].wipe_speed}
  {% endif %}

[gcode_macro WIPE_NOZZLE_OUTER_LOOP]
variable_wipe_nozzle_complete: False
gcode:
  #RESPOND TYPE=command MSG="Wipe ammount: {printer["gcode_macro WIPE_NOZZLE"].wipe_ammount}"
  SET_GCODE_VARIABLE MACRO=WIPE_NOZZLE VARIABLE=wipes_done VALUE=0

  {% for loops in range(1, 5) %}
      WIPE_NOZZLE_INNER_LOOP_100
  {% endfor %}

[gcode_macro WIPE_NOZZLE_INNER_LOOP_100]
gcode:
  {% if printer["gcode_macro WIPE_NOZZLE"].wipes_done < printer["gcode_macro WIPE_NOZZLE"].wipe_ammount %}
    {% for loops in range(1, 100) %} 
        WIPE_NOZZLE_INNER_LOOP
    {% endfor %}
  {% else %}
    # Avoid CPU starvation
    G4 P1
  {% endif %}

[gcode_macro WIPE_NOZZLE_INNER_LOOP]
gcode:
  {% if printer["gcode_macro WIPE_NOZZLE"].wipes_done < printer["gcode_macro WIPE_NOZZLE"].wipe_ammount %}
    {%if printer["gcode_macro WIPE_NOZZLE"].brush_use_y%}
      G1 X{printer["gcode_macro WIPE_NOZZLE"].brush_start_x} Y{printer["gcode_macro WIPE_NOZZLE"].brush_start_y+((range(0, 100) | random) / 100)* printer["gcode_macro WIPE_NOZZLE"].brush_size_y } F{printer["gcode_macro WIPE_NOZZLE"].wipe_speed/2}
      G1 X{printer["gcode_macro WIPE_NOZZLE"].brush_start_x + printer["gcode_macro WIPE_NOZZLE"].brush_size_x } Y{printer["gcode_macro WIPE_NOZZLE"].brush_start_y+((range(0, 100) | random) / 100)* printer["gcode_macro WIPE_NOZZLE"].brush_size_y } F{printer["gcode_macro WIPE_NOZZLE"].wipe_speed/2}  
    {% else %}
      G1 X{printer["gcode_macro WIPE_NOZZLE"].brush_start_x} F{printer["gcode_macro WIPE_NOZZLE"].wipe_speed/2}
      G1 X{printer["gcode_macro WIPE_NOZZLE"].brush_start_x + printer["gcode_macro WIPE_NOZZLE"].brush_size_x } F{printer["gcode_macro WIPE_NOZZLE"].wipe_speed/2}
    {% endif %}
    
    {% if printer.extruder.temperature < (printer["gcode_macro WIPE_NOZZLE"].wipe_end_temp+5) %}
      SET_GCODE_VARIABLE MACRO=WIPE_NOZZLE VARIABLE=wipes_done VALUE={printer["gcode_macro WIPE_NOZZLE"].wipe_ammount+1}
    {% else %}
      # Store than one wipe cycle was done
      SET_GCODE_VARIABLE MACRO=WIPE_NOZZLE VARIABLE=wipes_done VALUE={printer["gcode_macro WIPE_NOZZLE"].wipes_done+1}
      #RESPOND TYPE=command MSG="Wipes done: {printer["gcode_macro WIPE_NOZZLE"].wipes_done+1}"
    {% endif %}
  {% endif %}
  

[gcode_macro WIPE_NOZZLE_STRING_BREAKER]
gcode:
  {% set z_speed = printer["gcode_macro WIPE_NOZZLE"].macro_z_speed|float * 60 %}
  {% set speed   = printer["gcode_macro WIPE_NOZZLE"].macro_travel_speed|float %}
  {% set x_pos = 5 %} 
  {% set y_pos = printer['toolhead'].axis_maximum[1]|float / 2 %}

  SET_HEATER_TEMPERATURE HEATER="extruder" TARGET={printer["gcode_macro WIPE_NOZZLE"].wipe_end_temp}
  TEMPERATURE_WAIT SENSOR="extruder" MINIMUM={printer["gcode_macro WIPE_NOZZLE"].wipe_end_temp-5}  MAXIMUM={printer["gcode_macro WIPE_NOZZLE"].wipe_end_temp+5}

  # Re-home Z to avoid move out of range errors
  G28 Z

  # move to probe position
  G1 X{x_pos+15} Y{y_pos} F{speed}
  G91
  G1 Z3 F{z_speed}
  G90

  SET_GCODE_VARIABLE MACRO=_WIPE_NOZZLE_STRING_BREAKER_B VARIABLE=z_value VALUE=0
  
  # probe 4x at wipe position
  _WIPE_NOZZLE_STRING_BREAKER_MEASURE
  _WIPE_NOZZLE_STRING_BREAKER_MEASURE
  _WIPE_NOZZLE_STRING_BREAKER_MEASURE
  _WIPE_NOZZLE_STRING_BREAKER_MEASURE

  # move to wipe position
  G1 X{x_pos} Y{y_pos} F{speed}
  
  _WIPE_NOZZLE_STRING_BREAKER_B

[gcode_macro _WIPE_NOZZLE_STRING_BREAKER_MEASURE]
gcode:
  # probe at wipe position
  BEACON_POKE BOTTOM=-1.5

  _WIPE_NOZZLE_STRING_BREAKER_SAVE

[gcode_macro _WIPE_NOZZLE_STRING_BREAKER_SAVE]
gcode:
  {% set z_value = printer["gcode_macro _WIPE_NOZZLE_STRING_BREAKER_B"].z_value|float %}
  {% set new_z_value = printer['beacon'].last_poke_result.trigger_z|float %}

  #RESPOND MSG="Obtained Z height: {new_z_value}mm"
  #RESPOND MSG="Acumulator: {z_value}mm"
  
  SET_GCODE_VARIABLE MACRO=_WIPE_NOZZLE_STRING_BREAKER_B VARIABLE=z_value VALUE={new_z_value+z_value}


[gcode_arcs]

[gcode_macro _WIPE_NOZZLE_STRING_BREAKER_B]
variable_z_value = 0
gcode:
  {% set z_speed = printer["gcode_macro WIPE_NOZZLE"].macro_z_speed|float * 60 %}
  {% set speed   = printer["gcode_macro WIPE_NOZZLE"].macro_travel_speed|float %}
  {% set last_z_offset = printer.beacon.last_z_result %}
  {% set x_pos = 5 %} 
  {% set y_pos = printer['toolhead'].axis_maximum[1]|float / 2 %}

  M106 S120

  # Apply some force on the buildplate with the nozzle
  G0 Z{(z_value/4)-0.05} F{z_speed}

  
  {% for loops in range(1, 11) %}
      G2 X{x_pos} Y{y_pos+loops} I0.5 J0 F{speed}
  {% endfor %}

  {% for loops in range(1, 11) %}
      G2 X{x_pos} Y{y_pos+10 -loops} I1 J0 F{speed}
  {% endfor %}

  {% for loops in range(1, 11) %}
      G2 X{x_pos} Y{y_pos+loops} I1.5 J0 F{speed}
  {% endfor %}

  {% for loops in range(1, 11) %}
      G2 X{x_pos} Y{y_pos+loops} I0.5 J0 F{speed}
  {% endfor %}

  {% for loops in range(1, 11) %}
      G2 X{x_pos} Y{y_pos+10 -loops} I1 J0 F{speed}
  {% endfor %}

  {% for loops in range(1, 11) %}
      G2 X{x_pos} Y{y_pos+loops} I1.5 J0 F{speed}
  {% endfor %}

  M106 S0

  G91
  G1 Z5 F{z_speed}
  G90
